__pycache__
.DS_Store
*.cache
*.ini
*.bak
wildcards/**
styles/**
workflow/**
autocomplete/**
web_version/dev/**
frontend/node_modules/
frontend/.vite/
docs/**
.vscode/
.vs/
.idea/
.claude/**
.codex
.ace-tool/
